{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>NFL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #b80808;">
    <a class="navbar-brand" href="#"><img style="width:5rem;  margin: 0 1rem;" src="{% static 'logo_nfl.png' %}"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home:equipoindex' %}">Equipos</a>

        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home:ciudadindex' %}">Ciudades</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home:estadioindex' %}">Estadios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Secciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'home:cityWithTeams' %}">Equipos</a>
            <a class="dropdown-item" href="{% url 'home:cityTeams' %}">Sección 2</a>
            <a class="dropdown-item" href="{% url 'home:teamsStadium' %}">Juegos</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-4">
    <p style="margin: 4rem 0;">La NFL es la mayor competición de fútbol americano profesional de Estados Unidos. Actualmente, es la liga deportiva que más dinero recauda a nivel mundial. Fue creada en 1920 y actualmente se divide en 32 franquicias (equipos) repartidas por todo el territorio norteamericano entre dos conferencias.</p>
    <div class="d-flex justify-content-center align-items-center">
      <img style="width: 50rem;" src="{% static 'nfl_promo.jpg' %}"/>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>