{% extends 'base/equipoindex.html' %}

{% block content %}
  <h2>Equipos por ciudad</h2>
  {% for ciudad in ciudades %}
    <h3>{{ ciudad.name }}</h3>
    <ul>
    {% for equipo in ciudad.equipo_set.all %}
      <li>{{ equipo.name }}</li>
    {% empty %}
      <li>No hay equipos para esta ciudad.</li>
    {% endfor %}
    </ul>
  {% empty %}
    <li>No hay ciudades para mostrar.</li>
  {% endfor %}
{% endblock %}


