{% extends 'base/equipoindex.html' %}
{% block title %} Equipos {% endblock title %}

{% block content %}
    <div class="d-flex justify-content-end align-items-center">
        <a href="{% url 'home:equipo_new' %}" class="btn btn-danger">Agregar equipo</a>
    </div>
    
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Equipo</th>
            <th>Ciudad</th>
            <th>Estadio</th>
            <th>Acciones</th>

        </thead>
        <tbody>
            {% for equipo in equipos %}
                <tr>
                    <td>{{ equipo.id_team }}</td>
                    <td>{{ equipo.name }}</td>
                    <td>{{ equipo.city }}</td>
                    <td>{{ equipo.stadium }}</td>
                    <td><a href="{% url 'home:equipo_detail' equipo.id_team %}" class="btn btn-outline-info">Detail</a>
                    <a href="{% url 'home:equipo_edit' equipo.id_team %}" class="btn btn-outline-warning">Update</a>
                    <a href="{% url 'home:equipo_delete' equipo.id_team %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}