{% extends 'base/equipoindex.html' %}
{% block title %} Estadios {% endblock title %}

{% block content %}
    
    <div class="d-flex justify-content-end align-items-center">
        <a href="{% url 'home:estadio_new' %}" class="btn btn-danger">Agregar Estadio</a>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Nombre del Estadio</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for estadio in estadios %}
                <tr>
                    <td>{{ estadio.id_estadio }}</td>
                    <td>{{ estadio.name }}</td>
                    <td><a href="{% url 'home:estadio_detail' estadio.id_estadio %}" class="btn btn-outline-info">Detail</a>
                    <a href="{% url 'home:estadio_edit' estadio.id_estadio %}" class="btn btn-outline-warning">Update</a>
                    <a href="{% url 'home:estadio_delete' estadio.id_estadio %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}