{% extends 'base/equipoindex.html' %}
{% block title %} Ciudades {% endblock title %}

{% block content %}
    <div class="d-flex justify-content-end align-items-center">
        <a href="{% url 'home:ciudad_new' %}" class="btn btn-danger">Agregar Ciudad</a>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Nombre de la Ciudad</th>
            <th>Acciones</th>

        </thead>
        <tbody>
            {% for ciudad in ciudads %}
                <tr>
                    <td>{{ ciudad.id_ciudad }}</td>
                    <td>{{ ciudad.name }}</td>
                    <td><a href="{% url 'home:ciudad_detail' ciudad.id_ciudad %}" class="btn btn-outline-info">Detail</a>
                    <a href="{% url 'home:ciudad_edit' ciudad.id_ciudad %}" class="btn btn-outline-warning">Update</a>
                    <a href="{% url 'home:ciudad_delete' ciudad.id_ciudad %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}